extends layout

block content
	.container
		h1 About us
		
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quae harum, debitis a, rem velit fuga ad deserunt, ipsum pariatur similique veniam, possimus impedit nemo sed cumque est magnam quibusdam.
		ul 
			li  Lorem ipsum dolor sit amet.
			li  Lorem ipsum dolor sit amet.
			li  Lorem ipsum dolor sit amet.
		p   ipsum dolor sit amet, consectetur adipisicing elit. Odit esse eos, saepe ab. Cum maxime natus, unde soluta praesentium voluptates ullam rerum explicabo nostrum animi hic nihil veritatis eos asperiores.
		
		