doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title #{title}: Express Website
    // Bootstrap core CSS
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    // Custom styles for this template
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
   nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Express Website
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li(class=(title === 'Home' ? 'active' : ''))
              a(href='/') Home
            li(class=(title === 'About' ? 'active' : ''))
              a(href='/about') About
            li(class=(title === 'Members' ? 'active' : ''))
              a(href='/members') Members
            if user
              li(class=(title === '' ? 'active' : ''))
                a(href='/posts/add') Add Post
              li(class=(title === '' ? 'active' : ''))
                a(href='/categories/add') Add Category
              
            li(class=(title === 'Contact' ? 'active' : ''))
               a(href='/contact') Contact
          
          ul.nav.navbar-nav.navbar-right
            if !user
              li(class=(title === 'Register' ? 'active' : ''))
                a(href='/users/register') Register
              li(class=(title === 'Login' ? 'active' : ''))
                a(href='/users/login') Login
            if user
              li
                a(href='/users/logout') Logout
            


    .container
      != messages()
      block content
    
      footer
        p &copy; 2015, All rigths reserved
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
      script(src='/javascripts/bootstrap.js')
  
  
