extends layout

block content
	.container
		h1 All Members
		
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quae harum, debitis a, rem velit fuga ad deserunt, ipsum pariatur similique veniam, possimus impedit nemo sed cumque est magnam quibusdam.
		